# Compiled object files
*.o
*.out
*.exe
output
main 

# Build directories
build/
bin/

# IDE files
.vscode/
.idea/
*.sln
*.vcxproj
*.cmake

# Miscellaneous
*.log
*.tmp
trash/
Cores/*
temp/*
!Cores/nauty-cmds.txt
!Cores/Jakobs-deg-seq.txt
!Cores/finished/
*.g6